*{
    padding: 0;
    margin: 0;
}
section{
    min-height: 100vh;
}
.header{
    height: 100vh;
    padding-top: 44px;
    background: url(/png/bg.png) center center no-repeat;
    
}

.menu{
    display:flex;
    justify-content: center;

}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2.8px;
    margin-right: 100px;
    
}

.menu a:last-child{
margin-right: 0px;
}

.header-text{
  
   text-align: center;
    margin-top: 397px;
}

.header-text h1{
    color: #ffffff;
    font-size: 100px;
    font-weight: 700;
}

.header-text p{
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 4.2px;
}
.header button{
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.52px;
    margin-top: 22px;
    padding: 20px 80px;
    background-color: transparent;
    border: 2px solid #ffffff;
    transition: ease-in .25s all;
}

.header button:hover{
background-color: #fff;
color:black;
border: 2px solid #000;
}

.about{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.about-text span{
    color: #c4c4c4;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 3.08px;
}

.about-text h2
{
    margin-top: 32px;

    color: #000000;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4.2px;
}

.about-text p
{
    margin-top: 54px;
    color: #5b5b5c;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 3.08px;
}

.about-text button
{
    margin-top: 84px;
    cursor: pointer;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.52px;
    padding: 20px 80px;
    background-color: transparent;
    border: 2px solid black;
    transition: ease-in .25s all;
}

.about-text button:hover
{
    background-color: black;
    color:white;
}

.photos{
    margin-top: 160px;
    text-align: center;
}

.photos-text h2{
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7.2px;
}

.photos-text p{
    margin-top: 36px;
    margin-bottom: 97px;
    color: #5b5b5c;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 4.2px;
}

.photos-wrap img{
    margin: 10px 10px;
}


.company{
    margin-top: 250px;
}
.company-text{
    
    
    text-align: center;
}

.company-text h2{
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7.2px;
   
}

.company-text p{
    color: #5b5b5c;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 4.2px;
    margin-top: 36px;
    margin-bottom: 65px;
}

.company-block h3{
    color: #000000;
    margin-top: 61px;
    margin-bottom: 55px;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.company-block p{
    color: #848484;
    margin-bottom: 80px;
    font-size: 19px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 3.8px;
}

.company-wrap{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.company-block-1{
    margin-right: 34px;
}

.company-block button{
    cursor: pointer;
    border:none;
    padding: 10px 36px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 41px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    transition: ease .25s;
}

.company-block button:hover{
    background-color: #ccc;
}

.about1 img{
    margin-top: 160px;
}

.send{
    background:#f4f4f4;
    padding: 150px 0;
    display:flex;
    align-items: center;
    justify-content: center;
}

.send-text h2{
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    line-height: 41px;
    text-transform: uppercase;
    letter-spacing: 4.2px;
}

.send-text{
    margin-right: 51px;
}

.send-text p{
    color: #5b5b5c;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2.52px;
}

input{
    padding: 13px 32px;
    color: #3a4047;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 3.08px;
    border: 2px solid #7a7a7a;
    background: transparent;
    margin-right: 39px;
}

form button{
    cursor: pointer;
    background-color: #3a4047;
    border:none;
    padding: 13px 87px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.08px;
    transition: .25s;
}

form button:hover{
    background-color: rgb(255, 251, 251);
    color: black;
    border: 2px solid black;
}

.footer{
    text-align:center;
    padding: 95px 0;
    color: #000000;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.08px;
}

.footer-menu{
    margin-bottom: 66px;
}
.footer-menu a{
   text-decoration: none;
   color: black;
   margin-right: 55px;
}
.footer-menu a:last-child{
    margin-right: 0px;
}

.footer-text p{
    margin-bottom: 19px;
}